<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.css' />
    <link href="//fonts.googleapis.com/css?family=Open+Sans:200,300,400,700" rel="stylesheet">
  </head>
  <body>

    <nav class="nav-left js-nav-left">
      <ul class="nav-left-list js-nav-left-list"></ul>
    </nav>

    <div class="main js-main">
      {{{body}}}
    </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="/config/config.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/javascripts/class.js"></script>
    <script type="text/javascript" src="/javascripts/module.js"></script>
    <script type="text/javascript" src="/javascripts/socketclient.js"></script>
    <script type="text/javascript" src="/javascripts/node-smart-remote.js"></script>
    <script type="text/javascript" src="/javascripts/loader.js"></script>
    <script type="text/javascript" src="/javascripts/script.js"></script>
  </body>
</html>
