<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>{{title}}</title>
    <link rel="stylesheet" href='/stylesheets/style.css' />
    <link rel="stylesheet" href='/stylesheets/weather-icons.min.css' />
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:200,300,400,700" />
    <link rel="stylesheet" href="/stylesheets/material-icons.css" />
    <link rel="stylesheet" href="/stylesheets/chartist.min.css" />
    <link rel="stylesheet" href="/stylesheets/lcd-icons.min.css" />
  </head>
  <body>

    <nav class="nav-left js-nav-left">
      <ul class="nav-left-list js-nav-left-list"></ul>
    </nav>

    <div class="main js-main">
      {{{body}}}
    </div>
    <script src="/javascripts/handlebars.v4.0.5.js"></script>
    <script src="/config/config.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/jquery-3.1.1.min.js"></script>
    <script src="/javascripts/moment.js"></script>
    <script src="/javascripts/moment-sv.js"></script>
    <script src="/javascripts/jquery.gridster.min.js"></script>
    <script src="/javascripts/chartist.min.js"></script>
    <script src="/javascripts/gauge.min.js"></script>
    <script src="/javascripts/jsel.min.js"></script>
    <script src="/winston/client.js"></script>
    <script src="/javascripts/class.js"></script>
    <script src="/javascripts/socketclient.js"></script>
    <script src="/javascripts/module.js"></script>
    <script src="/javascripts/node-smart-remote.js"></script>
    <script src="/javascripts/loader.js"></script>
    <script src="/javascripts/script.js"></script>
  </body>
</html>
