.spot-price {
    .bar {
        fill: #275070;
    }

    .label {
        font-size: 8px;
        fill: #fff;
    }

    .lowprice {
        fill: #1f1;
    }

    .highprice {
        fill: #f11;
    }
}


