* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 20px;
  background: #101519;
  color: white;
  font-family: "helvetica neue";
  font-size: 12px;
  line-height: 1.4em;
}

.nav-left {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 80px;
  background: #101519;
  border-right: 1px solid #1a2126;
  box-shadow: 0 0 20px 0 rgba(0,0,0,.4);
}

.nav-left-list {
  margin: 0;
  padding: 10px 0;
}

.nav-left-item {
  display: block;
  padding: 15px 0;
  list-style-type: none;
  text-align: center;
  cursor: pointer;

  svg {
    display: block;
    margin: 0 auto 5px auto;
    height: 36px;
    width: 36px;
  }
}

.main {
  padding-left: 80px;
}

.box {
  position: relative;
  float: left;
  padding: 20px;
  width: 300px;
  min-height: 200px;
  margin: 0 20px 20px 0;
  cursor: pointer;
  background: #1a2126;
  box-shadow: 0 0 20px 0 rgba(0,0,0,.4);
}

.heading {
  font-size: 18px;
  font-weight: 100;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.calendar {
  .time {
    display: inline-block;
    color: #999;
    width: 80px;
    margin-right: 10px;
  }
}

.sonos {
  img {
    max-width: 80px;
    float: right;
    margin-bottom: 20px;
  }

  .buttons {
    margin-bottom: 20px;
  }

  .title {
    margin-bottom: 20px;
    white-space: nowrap;
  }

  .volume {
  }

  .scroll-text-container {
    clear: both;
    position: relative;
    overflow: hidden;
    width: 100%;

    .title {
      position: relative;
      width: 120px;
      animation-name: scroll-text;
      animation-duration: 5s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      animation-timing-function: linear;
      transform: translate3d(-100%, 0, 0);
    }
  }
}

@keyframes scroll-text {
  0%, 10% { transform: translate3d(0, 0, 0); }
  90%, 100% { transform: translate3d(-100%, 0, 0); }
}

/* ========================= */

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  padding: 8px 0;
  cursor: pointer;
  background: transparent;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  background: #ffffff;
  border-radius: 100%;
}
input[type=range]::-webkit-slider-thumb {
  height: 16px;
  width: 16px;
  border-radius: 100%;
  background: #ffffff;
  -webkit-appearance: none;
  margin-top: -8px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #f1f1f1;
}

/* ========================= */

.clock {
  position:absolute;
  border:2px #fff solid;
	border-radius: 50%;
	height:120px;
	margin:-50px 0 0 -60px;
	width:120px;
  top: 50%;
  left: 50%;

  div{
		background: transparent;
		bottom:50%;
    height:46%;
		position:absolute;
		right:50%;
		transform-origin:50% 100%;
		width:2%;
		&#m{
			background:#fff;
			height:40%;
		}
		&#h{
			background:#fff;
			height:25%;
		}
	}
}

/* ========================= */

.map {
  width: 300px;
  height: 420px;
  padding: 0;
}

#map {
  width: 100%;
  height: 100%;
}

/* ========================= */

.announce {
  position: relative;

  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -32px 0 0 -32px;
    width: 64px;
    height: 64px;
  }
}

.lights {
  position: relative;

  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -32px 0 0 -32px;
    width: 64px;
    height: 64px;
  }
}

.light-switch-off {
  svg {
    opacity: .4;
  }
}

/* ==================== */

.ripple-image {
  position: relative;
  width: 10px;
  height: 10px;
  margin: 0 auto;
  background: rgba(255, 255, 255, .8);
  background: rgba(255, 0, 0, .8);
  border-radius: 100%;
}

.ripple {
  position: absolute;
  display: block;
  width: 10px;
  height: 10px;
  border: 1px solid #f00;
  border-radius: 100%;
}

.ripple-1 {
  animation: ripples 4s linear infinite;
}

.ripple-2 {
  animation: ripples 4s linear 1s infinite;
}

.ripple-3 {
  animation: ripples 4s linear 2s infinite;
}

@keyframes ripples {
  0% {
    opacity: 0;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1)
  }

  50% {
    opacity: 1;
    -webkit-transform: scale(2.5);
    -moz-transform: scale(2.5);
    transform: scale(2.5)
  }

  100% {
    opacity: 0;
    -webkit-transform: scale(5);
    -moz-transform: scale(5);
    transform: scale(5)
  }
}

/* ==================== */

.weather {
  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -32px 0 0 -64px;
    width: 64px;
    height: 64px;
  }

  .temp {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -32px 0 0 16px;
    width: 64px;
    height: 64px;
    font-size: 38px;
    line-height: 64px;
  }
}
