.camera {

  video {
    width: 100%;
  }
  img {
    max-width: 100%;
  }
  .updated {
    text-align: center;
    opacity: 0.4;
    font-size: .8em;
  }
  .thumbnail, .livevideo {
        padding: 5px;
  }

  .spapshot {
    position: relative;
    .thumbnail {
      position: absolute;
      right: 2px;
      bottom: 2px;
    }
  }
  
  svg {
    width: 30px;
    height: 30px;
  }
}