[Unit]
Description=Easy to use Dashboard for Home automation.
After=syslog.target network.target 

[Service]
WorkingDirectory=/opt/vision
ExecStart=NODE_ENV=production PORT=80 /usr/local/bin/npm start
Restart=on-failure
RestartSec=5
TimeoutSec=30

[Install]
WantedBy=multi-user.target
